.searchbtn {
    padding: 10px 20px;
    background-color: #2020b5;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin: 12px;
}

.searchField {
    padding: 10px 20px; 
}

.searchForm {
    margin-bottom: 20px;
}